.youd {
    background: #fff;
    padding: 10px;
    display: inline-block;
}

.youd_1 {
    border: 5px solid #f2f2f2;
    padding: 30px 63px;
    display: inline-block;
}
.youd p{color:#191919;
        font-size:16px;font-weight:bold;
        display: inline-block;    font-family: '黑体';
        line-height:1.5em;margin-left:10px;}

#visualmodule_128 .m-wg-ct {
    font-family: inherit;
    background-repeat: no-repeat;
    background-color: transparent;
}



