 /*main css*/
.izl-rmenu{position:fixed; right:-88px;  top:120px; padding-bottom:20px;  z-index:99999; }
.izl-rmenu .izl_rmenu_btn{display: block; position: relative;margin: 0 0 5px; height: 20px; line-height: 20px; padding: 10px; font-size: 12px; text-decoration: none; border: 1px solid #E9E9E9;  border-radius: 5px 0 0 5px; margin-top: 5px; background: #FFF; color: gray; width: 100px; white-space: nowrap; -webkit-transition: left .3s ease-in-out; -moz-transition: left .3s ease-in-out; -o-transition: left .3s ease-in-out; transition: left .3s ease-in-out;}
/*.izl-rmenu .izl_rmenu_btn:hover{ left:0px;}*/
.izl-rmenu .izl_rmenu_btn img{cursor: pointer; font-size: 16px; line-height: 1em; width: 16px; height: 16px; overflow: hidden; display: inline-block; vertical-align: text-top; margin-right: 10px;max-width: inherit;}

.izl-rmenu .izl_rmenu_btn a{color:#333; text-decoration: none;}
.izl-rmenu .izl_rmenu_btn .pic{position:absolute; left: -157px; top: -1px; display:none;width:160px;height:160px;}
.izl-rmenu .izl_rmenu_btn p.pic{ background-color: #fff; color: #333; margin-top: -20px; text-align: center; height: 20px;} 
 
.izl-rmenu .btn-top{ display:none;}
.izl-rmenu .item-sel{height:20px; line-height: 20px; cursor: default;}
